/*
	AnythingSlider v1.5.10 Construction Theme
	By Rob Garrison
*/

/****** SET COLORS HERE *******/
/* Default State */
div.anythingSlider-construction .anythingWindow {
	border-top: 3px solid #333;
	border-bottom: 3px solid #333;
}

/* Active State */
div.anythingSlider-construction.activeSlider .anythingWindow {
	border-color: #d0aa0d;
}
div.anythingSlider-construction.activeSlider .anythingControls ul a:hover, div.anythingSlider-construction.activeSlider .anythingControls ul a {
 background-color: transparent;
}

/* Navigation Arrows */
div.anythingSlider-construction .arrow {
	top: 50%;
	position: absolute;
	display: block;
	z-index: 100;
}
div.anythingSlider-construction .arrow a {
	display: block;
	height: 300px;
	margin-top: -150px; /* half height of image */
	width: 45px;
	outline: 0;
	background: url(../images/construction.gif) no-repeat;
}

div.anythingSlider-construction .forward a {
	border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
}

div.anythingSlider-construction .back a {
	border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
}

div.anythingSlider-construction .forward { right: 0; }
div.anythingSlider-construction .back { left: 0; }
div.anythingSlider-construction .forward a { background-position: right top; }
div.anythingSlider-construction .back a { background-position: left top; }
div.anythingSlider-construction .forward a:hover, div.anythingSlider-construction .forward a.hover { background-position: -50px top; }
div.anythingSlider-construction .back a:hover, div.anythingSlider-construction .back a.hover { background-position: -5px top; }

/* Navigation Links */
div.anythingSlider-construction .anythingControls {
	float: right;
	position: absolute;
	bottom: 0;
	right: 15%;
	z-index: 100;
	opacity: 0.90;
	filter: alpha(opacity=90);
}
div.anythingSlider-construction .anythingControls ul {
	margin: 0;
	z-index: 100;
}
div.anythingSlider-construction .anythingControls ul li {
	display: block;
	float: left;
}
div.anythingSlider-construction .anythingControls ul a, div.anythingSlider-construction.activeSlider .anythingControls ul a,
div.anythingSlider-construction .anythingControls a.start-stop {
	display: block;
	background: transparent url(../images/construction.gif) -36px -301px no-repeat;
	border: 0;
	height: 15px;
	width: 15px;
	margin: 2px;
	padding: 0;
	outline: 0;
}
div.anythingSlider-construction div.anythingControls a:hover, div.anythingSlider-construction .anythingControls ul a.cur,
div.anythingSlider-construction.activeSlider .anythingControls ul a.cur {
	background: transparent url(../images/construction.gif) -21px -301px no-repeat;
}

/* Navigation size window arrows */
div.anythingSlider-construction .anythingControls li.next a, div.anythingSlider-construction .anythingControls li.prev a {
	height: 12px;
	width: 12px;
	margin-top: 3px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background: transparent url(../images/construction.gif) no-repeat;
}
div.anythingSlider-construction .anythingControls li.next a {
	background-position: -78px -144px;
}
div.anythingSlider-construction .anythingControls li.prev a {
	background-position: -12px -144px;
}
div.anythingSlider-construction .anythingControls li.next a:hover {
	background: transparent url(../images/construction.gif) -76px -144px no-repeat;
}
div.anythingSlider-construction .anythingControls li.prev a:hover {
	background: transparent url(../images/construction.gif) -14px -144px no-repeat;
}

/* slider autoplay right-to-left, reverse order of nav links to look better */
div.anythingSlider-construction.rtl .anythingControls ul a { float: right; } /* reverse order of nav links */
div.anythingSlider-construction.rtl .anythingControls ul { float: left; }    /* move nav link group to left */
/* div.anythingSlider-construction.rtl .start-stop { float: right; } */ /* move start/stop button - in case you want to switch sides */

/* Autoplay Start/Stop button */
div.anythingSlider-construction .anythingControls a.start-stop {
	display: inline-block;
	background: transparent url(../images/construction.gif) -66px -301px no-repeat;
	z-index: 100;
	float: right;
}
div.anythingSlider-construction .anythingControls a.start-stop.playing, div.anythingSlider-construction.activeSlider .anythingControls a.start-stop.playing  {
	background-position: -51px -301px;
}
div.anythingSlider-construction .anythingControls a.start-stop:hover, div.anythingSlider-construction .anythingControls a.start-stop.playing:hover {
	background-position: -21px -301px;
}

/* Extra - replace defaults */
div.anythingSlider-construction {
	padding: 6px 45px;
}

/* text indent moved to span inside "a", for IE7; apparently, a negative text-indent on an "a" link moves the link as well as the text */
div.anythingSlider-construction .arrow a span, div.anythingSlider-construction .anythingControls ul a span, div.anythingSlider-construction .start-stop span {
	display: block;
	line-height: 1px; /* needed for IE7 */
	visibility: hidden; /* needed for IE8, instead of text-indent: -9999px */
}