/*
	AnythingSlider v1.5.10 Construction Theme
	By Rob Garrison
*/

/****** SET COLORS HERE *******/
/* Default State */
div.anythingSlider-construction .anythingWindow {
	border-top: 3px solid #333;
	border-bottom: 3px solid #333;
}
div.anythingSlider-construction .start-stop.playing, div.anythingSlider-construction .start-stop.playing.hover {
	background: transparent url(../images/nav-construction.png) center -30px no-repeat;
}
div.anythingSlider-construction .start-stop:hover {
	background: transparent url(../images/nav-construction.png) center bottom no-repeat;
}
div.anythingSlider-construction .start-stop.hover {
	background: transparent url(../images/nav-construction.png) center top no-repeat;
}
/* Active State */
div.anythingSlider-construction.activeSlider .anythingWindow {
	border-color: #d0aa0d;
}
div.anythingSlider-construction.activeSlider .thumbNav a:hover, div.anythingSlider-construction.activeSlider .thumbNav a.cur {
 background-color: transparent;
}

/* Navigation Arrows */
div.anythingSlider-construction .arrow {
	top: 50%;
	position: absolute;
	display: block;
	z-index: 100;
}
div.anythingSlider-construction .arrow a {
	display: block;
	height: 300px;
	margin-top: -150px; /* half height of image */
	width: 45px;
	outline: 0;
	background: url(../images/arrows-construction.gif) no-repeat;
}

div.anythingSlider-construction .forward a {
	border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
}

div.anythingSlider-construction .back a {
	border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
}

div.anythingSlider-construction .forward { right: 0; }
div.anythingSlider-construction .back { left: 0; }
div.anythingSlider-construction .forward a { background-position: right bottom; }
div.anythingSlider-construction .back a { background-position: left bottom; }
div.anythingSlider-construction .forward a:hover, div.anythingSlider-construction .forward a.hover { background-position: -50px top; }
div.anythingSlider-construction .back a:hover, div.anythingSlider-construction .back a.hover { background-position: -5px top; }

/* Navigation Links */
div.anythingSlider-construction .anythingControls {
	position: absolute;
	width: 80%;
	bottom: 0;
	right: 15%;
	z-index: 100;
	opacity: 0.90;
	filter: alpha(opacity=90);
}
div.anythingSlider-construction .thumbNav {
	float: right;
	margin: 0;
	z-index: 100;
}
div.anythingSlider-construction .thumbNav li {
	display: block;
	float: left;
}
div.anythingSlider-construction .thumbNav a, div.anythingSlider-construction.activeSlider .thumbNav a {
	display: block;
	background: transparent url(../images/nav-construction.png) center -60px no-repeat;
	border: 0;
	height: 30px;
	width: 30px;
	margin: 3px;
	padding: 0;
	outline: 0;
}
div.anythingSlider-construction .thumbNav a:hover, div.anythingSlider-construction .thumbNav a.cur {
	background: transparent url(../images/nav-construction.png) center bottom no-repeat;
}

/* slider autoplay right-to-left, reverse order of nav links to look better */
div.anythingSlider-construction.rtl .thumbNav a { float: right; } /* reverse order of nav links */
div.anythingSlider-construction.rtl .thumbNav { float: left; }    /* move nav link group to left */
/* div.anythingSlider-construction.rtl .start-stop { float: right; } */ /* move start/stop button - in case you want to switch sides */

/* Autoplay Start/Stop button */
div.anythingSlider-construction .start-stop {
	display: inline-block;
	background: transparent url(../images/nav-construction.png) center top no-repeat;
	border: 0;
	height: 30px;
	width: 30px;
	margin: 3px;
	padding: 0;
	outline: 0;
	z-index: 100;
	float: right;
}

/* Extra - replace defaults */
div.anythingSlider-construction {
	padding: 6px 45px;
}

/* text indent moved to span inside "a", for IE7; apparently, a negative text-indent on an "a" link moves the link as well as the text */
div.anythingSlider-construction .arrow a span, div.anythingSlider-construction .thumbNav a span, div.anythingSlider-construction .start-stop span {
	display: block;
	line-height: 1px; /* needed for IE7 */
	text-indent: -9999px;
}